/*
Designed for pricecofoods.org
By: Matt Latham
Email: lath.mj@gmail.com

/*  ======================================
Colors: borders: #355974, rgb(53,89,116)
    dark backgrounds: #70bbf4, rgb(112,187,244)
    light backgrounds: #b9daf4, rgb(185,218,244)
    a: #355974
    a:hover: #70bbf4
  =====================================
   Browser Display Reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,  figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin:0;padding:0;border:0;font-size:62.5%;font:inherit;vertical-align:baseline;}
  
/*  ======================================
  General Styles
  ===================================== */
html { height: 100%; }
body {
  height: 100%;
  font-family: "Droid Sans", Georgia, sans;
  color: #000; }
a { text-decoration: none; color: #355974; }
a:hover { text-decoration: none; color: #745035; }
#wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -145px;
  text-align: left;
  background-color: #fff; }
  .wrap {
    width: 960px;
    margin: 0 auto; }
.clear { clear: both; }
    
/*  ======================================
  Header
  ===================================== */
header {
  font-family: "Droid Sans", Georgia, sans;
  color: #333;
  font-size: 1.1em;
  background: #4e80a7 url(../img/head-bg.png) center top repeat-x;
  position: relative;
  text-align: left;
  height: 100px; }
  header > div.wrap { padding-top: 20px; }
  div#info, div#hours, div#map {
    position: relative;
    right: 0;
    float: right;
    top: -15px;
    font-size: .75em; }
  div#info, div#hours {
    padding-right: 10px;}
    div#info > p { margin-right: 20px; }
    div#info p:nth-child(4) { padding-top: 5px; }
    div#map img { float: right; border: 1px solid #355974; }
  div#hours p.title { text-decoration:underline;}

/*  ======================================
  Navagation
  ===================================== */
nav {
  background: #deefff;
  background: -moz-linear-gradient(top, #deefff 0%, #98bede 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#deefff), color-stop(100%,#98bede));
  background: -webkit-linear-gradient(top, #deefff 0%,#98bede 100%);
  background: -o-linear-gradient(top, #deefff 0%,#98bede 100%);
  background: -ms-linear-gradient(top, #deefff 0%,#98bede 100%);
  background: linear-gradient(top, #deefff 0%,#98bede 100%);
  height: 42px;
  border-top: 1px solid #355974;
  border-bottom: 1px solid #355974;
  z-index: 5;
}
nav ul#menu {
  position: relative;
  height: 42px;
  left: -15px;
  font-family: "Droid Sans", Arial, sans-serif;
  font-size: 1em;
  text-decoration: none;
  list-style: none;
}
nav ul#menu li {
  display: block;
  float: left;
  position: relative;
}
nav ul#menu li:hover ul {
  display: block;
}
nav ul#menu li:hover a {
  color: #002966;
}
nav ul#menu li:last-child {
  border-bottom: none;
}
nav ul#menu li a {
  display: block;
  float: left;
  padding: 12px 14px 16px 15px;
  font-size: 1em;
  line-height: 18px;
  text-shadow: 0 1px 0 #BBE9FF;
}
nav ul#menu li a:hover {
  text-shadow: none;
  color: #002966;
}
nav ul#menu>li>a {
  font-weight: 700;
}
nav ul#menu li ul {
  background: #98bede;
  border: 1px solid #355974;
  top: 42px;
  left: 15px;
  position: absolute;
  width: 182px;
  padding-top: 5px;
  display: none;
  box-shadow: inset 0 5px rgba(0,0,0,0.15);
  z-index: 8;
}
nav ul#menu li ul li {
  border-bottom: 1px solid #1B2D3A;
  width: 182px;
}
nav ul#menu li ul li a {
  display: block;
  background: transparent;
  line-height: 20px;
  width: 158px;
  text-align: left;
  font-size: .8em;
  padding: 6px 12px;
  color: #002966 !important;
}
nav ul#menu li ul li a:hover {
  background: #4e80a7;
  text-shadow: 1px 1px #336699;
  color: #ffffff !important;
}
nav ul#menu li.parent > a:hover, nav ul#menu li:hover.parent>a {
}
      
/*  ======================================
  Content
  ===================================== */
  
h2 {
  font-size: 1.5em;
  color: #900; }
table#holhours #date {
  border-bottom: solid 1px black; }
table#holhours td {
  padding-right: 20px; }
  
ul.options li a{
  border: none;
  display: block;
  height: 86px;
  width: 300px;
  font-size: 0;
  text-indent: -9999px;
  line-height: 0;
}
.homepanel_column{
  display: block;
  float: left;
}
.homepanel_column1of2{
  width: 300px;
}
.homepanel_column2of2{
  padding: 5px 20px 0 0;
  float: right;
}
ul.options {
  list-style: none;
}
ul.options li.first a{
  background: url(../img/img-option01.png);
}
ul.options li.second a{
  background: url(../img/img-option02.png);
}
ul.options li.third a{
  background: url(../img/img-option03.png);
}
ul.options li.fourth a{
  background: url(../img/img-option04.png);
}
ul.options li a:hover{
  background-position: 0 -86px !important;
}
  
section#content {
  padding-top: 15px; }
  section#priCol {
    position: relative;
    width: 627px;
    float: left;
    text-align: left; }
    .contentText {
      font-size: small;
      font-family: "Droid Sans", Georgia, sans;
      line-height: 1.4em;
      padding-top: 30px;
      /* width: 625px; */
      float: left;
      text-align: left; }
    .contentText h1 {
      font-family: "Droid Serif", Georgia, Times, serif;
      font-size: 2.3em;
      color: #F00;
      padding-bottom: 15px; }
    .contentText p {
      padding-bottom: 15px;
      font-size: 1.1em;
      color: #000; }
  section#secCol {
    position: relative;
    width: 315px;
    float: right;
    text-align: left; }
    #featureBig {
      background: #b9daf4;
      border: 1px solid #355974;
      width: 310px;
      height: 225px; }
    #features {
      padding-top: 35px;
      width: 310px; }
        .featureBox {
          border: 1px solid #355974;
          height: 85px;
          width: 310px;
          margin-bottom: 5px;
          background: #b9daf4; }
          .featureBox #box1 { }
          .featureBox #box2 { }
          .featureBox #box3 { }
          .featureBox #box4 { }
      
/*  ===== Slideshow ===== */
.slideshow {
  width: 610px;
  height: 340px;
  border: none;
  overflow: hidden;
  list-style: none;
  -moz-box-shadow: #CCC;
  box-shadow: #CCC; }
  .slideshow li { margin: 0; padding: 0; }
  #cyclenav { display: none; list-style: none; margin-top: -20px; opacity: 0.8; }
    ul#cyclenav li { 
      float: left;
      background: transparent;
      margin: 0; }
      ul#cyclenav li.activeSlide {  }
      ul#cyclenav li.activeSlide a {
        color: #333;
        background-color: rgb(112,187,244); }
      ul#cyclenav li a {
        font-size: .9em;
        display: block;
        /* 3btn: width: 209px; */
        /* 4btn: width: 156.75px; */
        width: 209px;
        padding: 6px 0;
        color: #b9daf4;
        margin: 0;
        border-right: 1px solid #355974;
        border-bottom: 1px solid #355974;
        text-align: center;
        background-color: #ffffff;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -o-box-sizing: border-box;
        box-sizing: border-box; }
        ul#cyclenav li a:hover { text-decoration: none; }
      ul#cyclenav li#cap0 a { border-left: 1px solid #355974; }
      
/* Subpage Styles */
.simpleSlide { position: relative; width: 200px; height: 150px; margin-top: 30px; }
.simpleSlide img { position: absolute; top: 0; left: 0; }
#sidebar { width: 150px; float: left; text-align: left; }
  #sidebar img { border: 1px solid #355974; }
  #sidebar h2 {
      color: #333;
      font-size: 1.1em;
      border-bottom: 1px dotted #355974; }
  #sidebar ul { list-style: none; }
    #sidebar ul li { padding-top: 5px; }
#mainContent { width: 710px; float: right; padding-top: 30px; }
#noSidebar { width: 960px; padding-top: 30px; }
body#formpage #mainContent { width: 710px; float: none; padding-top: 30px; }
#banner { height: 160px; padding-bottom: 10px; padding-top: 15px; font-size: small; }
  #imgLrg { width: 633px; height: 160px; border: 1px solid #355974; margin-right: 15px; float: left; }
  #imgSm1 { width: 145px; height: 160px; border: 1px solid #355974; margin-right: 11px; float: left; }
  #imgSm2 { width: 145px; height: 160px; border: 1px solid #355974; float: left; }
  #header { clear: both; text-align: left; }
    #header h1 { font-family: "Droid Serif", Georgia, serif; font-size: 2.3em; color: #F00; }

#address { padding-top: 30px; }
#address, #contPhone, #contHours {
  font-size: .9em;
  color: #000;
  padding-bottom: 10px; }
  #address h3, #contPhone h3, #contHours h3 {
    color: #000;
    font-size: 1em;
    border-bottom: 1px solid #355974; }
    
#admatch1 { float: left; margin: 20px 50px 20px 0; width: 400px; }
#admatch2 { float: left; margin: 20px 0 20px 0; width: 400px; }
#admatch1 p, #admatch2 p { color: #06F; margin-top: 10px; }

.scrip { float: left; }
.scrip td { padding: 5px 20px 5px 0; }
.scrip h5 { font-size: 20px; color: #F00; }
      
/*  ======================================
  Footer
  ===================================== */
.push { height: 145px; padding-top: 20px; clear: both; }
#copyright { font-size: small; text-align: center; padding-top: 10px; color: #333; }
  #copyright p:nth-child(1) { float: left; }
  #copyright p:nth-child(2) { float: right; }
footer {
  position: relative;
  height: 145px;
  z-index: 10;
  font-family: "Droid Sans", Georgia, sans;
  border-top: 1px dotted #355974;
  background: #ebebeb;
  padding: 15px 0 0; }
  #footnav { overflow: hidden; text-align: left; }
  #footnav a { font-size: .75em; color: #355974; }
    #footnav a:hover { color: #70bbf4; }
  #footnav li {
    width: 175px;
    display: block;
    float: left;
    margin: 0;
    padding: 0; }
  #footnav h5 {
    color: #000;
    font-size: .8em;
    text-transform: uppercase;
    margin: 5px 0; }
  #footnav #connect {  width: 65px; }